.about-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
  margin: 0 75px 0 75px !important;
}

.about-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 300px;
}

.about-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 750px;
}

.about-left h3,
.about-left h4 {
  cursor: default;
}

.about-left h3 {
  font-family: 'Archivo', sans-serif;
  font-weight: 800;
  font-size: 50px;
  margin: 0px;
}

.about-left h4 {
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
}

.about-right p {
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  margin-bottom: 24px;
  cursor: default;
}

.about-right h4 {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  line-height: 12px;
  margin: 0;
  cursor: default;
}

@media (max-width: 1400px) {
  .about-wrapper {
    margin: 0 20px 0 20px !important;
  }
}

@media (max-width: 1200px) {
  .about-wrapper {
    margin: 0 20px 0 20px !important;
    flex-direction: column !important;
    justify-content: start;
  }

  .about-left {
    align-items: flex-start;
  }

  .about-right {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .about-left h3 {
    font-size: 40px;
  }

  .about-left h4 {
    font-size: 16px;
  }

  .about-right p {
    font-size: 16px;
  }
}

/* --------- */
/* Tech Icons */
/* --------- */
.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 1.7px solid #fff !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px #a7cbe8 !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid #003373 !important;
}

.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

/* --------- */
/* Image Preview */
/* --------- */
.duke-img-preview {
  position: absolute;
  transform: translate(400%, -150%);
  z-index: 100;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.ucsb-img-preview {
  position: absolute;
  transform: translate(-50%, -10%);
  z-index: 100;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
