.home-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
    margin: 0 75px 0 75px !important;
}

.home-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-right {
    display: flex;
    align-items: center;
}

.home-left,
.home-right {
    padding-left: 30px;
    padding-right: 30px;
}

.home-left h2 {
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    font-size: 65px;
    line-height: 75px;
    cursor: default;
}

.home-left h3 {
    font-family: 'Manrope', sans-serif;
    font-weight: 200;
    font-size: 30px;
    cursor: default;
}

.home-left h2 span.name-hover:hover {
    -webkit-text-fill-color: var(--fourth-color);
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
}

img.home-image {
    width: 400px;
}

@media (max-width: 1170px) {
    .home-wrapper {
        margin: 0 !important;
    }
}

@media (max-width: 992px) {
    .home-wrapper {
        margin: 80px 0 80px 0 !important;
        text-align: center;
        display: block;
    }

    .home-left,
    .home-right {
        padding-left: 24px;
        padding-right: 24px;
    }

    .home-left h2 {
        font-size: 60px;
        margin-bottom: 14px;
    }

    .home-right {
        display: none !important;
    }

    a.connect-download {
        margin: auto;
    }
}

@media (max-width: 576px) {
    .home-left h2 {
        font-size: 50px;
        line-height: 70px;
    }

    .home-left h3 {
        font-size: 26px;
    }
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* --------- */
/* Buttons */
/* --------- */
.connect-download {
    width: 200px;
    padding: 12px 8px;
    margin-top: 12px;
    border-radius: 0px;
    box-shadow: 8px 8px var(--third-color);
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: var(--fourth-color);
    background-color: var(--first-color);
    transition: 0.5s;
}

.connect-download:hover {
    color: var(--first-color);
    background-color: var(--third-color);
    box-shadow: 0px 0px transparent;
}

.pdf-viewer-container {
    position: relative;
}

.pdf-nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: #333;
    z-index: 2;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}