.side-nav {
  display: flex;
  gap: 40px;
  height: calc(100vh - 100px);
  padding: 14px 20px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: sticky;
  top: 0;
  z-index: 999;
}

.side-title {
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  color: #aeaeae;
}

.side-date {
  font-family: 'Manrope', monospace;
}

.side-number {
  font-family: 'Manrope', monospace;
}

.disabled-color {
  color: #aeaeae;
}

a.arrow {
  color: #000;
}

a.arrow:hover {
  color: #000;
}

.side-title,
.side-date,
.side-number {
  cursor: default;
}

@media (max-width: 992px) {
  .side-nav {
    display: none !important;
  }
}
